<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/2a0838d839.js" crossorigin="anonymous"></script>


</head>
<body>
    <div class="main">
        <div class="container">
            <div class="float">
                <div class="float-button home"><p>Home</p></div>
                <div class="float-button browse"><p>Browse</p></div>
                <div class="float-button playlist"><p>Playlist</p></div>
            </div>

            <div class="music-box">
                <form id="myForm" method="POST" action="/submit">
                    <input name="songname" type="text" id="music-box-search" placeholder="Search by title,artist or album" required>
                    <button class="search" type="submit">Submit</button>
                  </form>
                
                <div class="music-images">
                    <% if(locals.songSeven){ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name"><%= songSeven.name %></p>
                            <p class="song-hover-artist-name"><%= songSeven.artists[0].name %></p>
                            <img class="start-image" src="<%= songSeven.album.images[0].url %>" alt="">
                        </div>
                        
                    <% }else{ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name">Song Name</p>
                            <p class="song-hover-artist-name">Artist</p>
                            <img class="start-image" src="images/harrystyles-album-cover.jpg" alt="">
                        </div>
                    <% } %>

                    <% if(locals.songFive){ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name"><%= songFive.name %></p>
                            <p class="song-hover-artist-name"><%= songFive.artists[0].name %></p>
                            <img src="<%= songFive.album.images[0].url %>" alt="">
                        </div>
                    <% }else{ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name">Song Name</p>
                            <p class="song-hover-artist-name">Artist</p>
                            <img src="images/brunomars-album-cover.jpg" alt="">
                        </div>
                        
                    <% } %>

                    <% if(locals.songThree){ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name"><%= songThree.name %></p>
                            <p class="song-hover-artist-name"><%= songThree.artists[0].name %></p>
                            <img src="<%= songThree.album.images[0].url %>" alt="">
                        </div>
                    <% }else{ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name">Song Name</p>
                            <p class="song-hover-artist-name">Artist</p>
                            <img src="images/drake-album-cover.jpg" alt="">
                        </div>
                    <% } %>

                    <% if(locals.songOne){ %>
                            <img class="now-playing" src="<%= songOne.album.images[0].url %>" alt="">
                    <% }else{ %>
                            <img class="now-playing" src="images/arctic-monkeys-album-cover.jpg" alt="">
                    <% } %>

                    <% if(locals.songTwo){ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name"><%= songTwo.name %></p>
                            <p class="song-hover-artist-name"><%= songTwo.artists[0].name %></p>
                            <img  src="<%= songTwo.album.images[0].url %>" alt="">
                        </div>
                    <% }else{ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name">Song Name</p>
                            <p class="song-hover-artist-name">Artist</p>
                            <img src="images/hozier-album-cover.jpg" alt="">
                        </div>
                        
                    <% } %>

                    <% if(locals.songFour){ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name"><%= songFour.name %></p>
                            <p class="song-hover-artist-name"><%= songFour.artists[0].name %></p>
                            <img  src="<%= songFour.album.images[0].url %>" alt="">
                        </div>
                    <% }else{ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name">Song Name</p>
                            <p class="song-hover-artist-name">Artist</p>
                            <img src="images/dojacat-album-cover.jpg" alt="">
                        </div>
                        
                    <% } %>

                    <% if(locals.songSix){ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name"><%= songSix.name %></p>
                            <p class="song-hover-artist-name"><%= songSix.artists[0].name %></p>
                            <img class="end-image" src="<%= songSix.album.images[0].url %>" alt="">
                        </div>
                    <% }else{ %>
                        <div class="song-hover">
                            <p class="song-hover-song-name">Song Name</p>
                            <p class="song-hover-artist-name">Artist</p>
                            <img class="end-image" src="images/eminem-album-cover.jpg" alt="">
                        </div>
                    <% } %>
                </div>
                
            </div>
            <div class="music-functions">
                <div class="upnext">
                    <img src="images/play-next-white-icon.png" alt="">
                    <p>Up Next</p>
                </div>
                <div class="next-songs">
                    <div class="next-song">
                        <% if(locals.songTwo){ %>
                            <img src="<%= songTwo.album.images[0].url%>" alt="">
                        <% }else{ %>
                            <img src="images/hozier-album-cover.jpg" alt="">
                        <% } %>
                    
                        <div class="artist">
                            <% if(locals.songTwo){ %>
                                <p class="song-name"><%= songTwo.name %></p>
                            <% }else{ %>
                                <p class="song-name">Like real people do</p>
                            <% } %>

                            <% if(locals.songTwo){ %>
                                <p class="artist-name"><%= songTwo.artists[0].name%></p>
                            <% }else{ %>
                                <p class="artist-name">Hozier</p>
                            <% } %>
                        </div>

                        <div class="song-functions">
                            <p class="duration" >2:45</p>
                            <p class="like"><i class="fa fa-heart"></i></p>
                        </div>
                    </div>
                    <!-- <div class="next-song">
                        <img src="images/dojacat-album-cover.jpg" alt="">
                        <div class="artist">
                            <p class="song-name">Agora Hills</p>
                            <p class="artist-name">Doja Cat</p>
                        </div>
                        <div class="song-functions">
                            <p class="duration">3:05</p>
                            <p class="like"><i class="fa fa-heart"></i></p>
                            <p class="options">&#8230</p>
                        </div>
                    </div> -->
                </div>
            </div>
            

            <div class="play-functions">
                <div class="play-buttons">
                    <i class="fa-solid fa-backward control"></i>
                    <% if(locals.songOne){%>
                        <audio id="musicPlayer" src="<%= songOne.preview_url %>"></audio>
                    <%}else{%>
                        <audio id="musicPlayer" src="audio/Do-I-Wanna-Know.mp3"></audio>
                    <%} %>
                    
                    <img src="images/play-button.jpg" class="control" id="playButton" alt="">
                    <i class="fa-solid fa-forward control"></i>
                </div>
                <div class="play-bar">
                    <% if(locals.songOne){ %>
                        <img src="<%= songOne.album.images[0].url %>" alt="">
                    <% }else{ %>
                        <img src="images/arctic-monkeys-album-cover.jpg" alt="Image">
                    <% } %>
                    
                    <div class="current">
                        <% if(locals.songOne){ %>
                            <p class="current-song"><%= songOne.name %></p>
                        <% }else{%>
                            <p class="current-song">Do i wanna know</p>
                        <% } %>
                        
                        <% if(locals.songOne){ %>
                            <p class="current-artist"><%= songOne.artists[0].name %></p>
                        <% }else{%>
                            <p class="current-artist">Arctic Monkeys</p>
                        <% } %>
                        
                    </div>
                    <div class="current-options">
                        <p id="currentTime">0:00</p>
                        <i class="fa-solid fa-ellipsis option"></i>
                    </div>
                </div>

                <div class="volume-functions">
                    <i class="fa-solid fa-list-ul play-option"></i>
                    <i class="fa-solid fa-volume-low volume"></i>
                    <!-- <img src="images/full-volume.png" class="volume" style="width: 40px;"> -->
                    <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1" oninput="changeVolume(this.value)">
                </div>
            </div>

        </div>
    </div>


    <script src="script/home.js"></script>
</body>
</html>